# 1. Archivos de Seguridad
.env

# 2. Entorno Virtual
env/
venv/
ENV/

# 3. Archivos temporales de Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# 4. Base de datos local
db.sqlite3

# 5. Archivos de medios y imágenes
media/

# 6. Carpetas del sistema operativo o VS Code
.vscode/
.DS_Store
Thumbs.db