{% extends 'base.html' %}

{% block title %}
{{ categoria.nombre }}
{% endblock %}

{% block content %}

<!-- HERO -->
<div class="bg-dark text-white py-5">
    <div class="container text-center">
        <h1 class="display-4 fw-bold">
            {{ categoria.nombre }}
        </h1>
        <p class="lead">
            Trabajos realizados en toda la Región de Valparaíso.
        </p>
    </div>
</div>
<!-- GALERÍA -->

<div class="container py-5">
    <div class="row g-4">
        {% for proyecto in proyectos %}
        <div class="col-md-4">
            <div class="card h-100 shadow-sm border-0 proyecto-card">
              {% if proyecto.imagen %}
            <a
                href="{{ proyecto.imagen.url }}"
                data-bs-toggle="modal"
                data-bs-target="#modal{{ proyecto.id }}"
            >
            <img
                src="{{ proyecto.imagen.url }}"
                class="card-img-top imagen-proyecto"
                alt="{{ proyecto.titulo }}"
                style="height:300px; object-fit:cover;"
            >
            </a>

            <!-- MODAL -->
                <div
                    class="modal fade"
                    id="modal{{ proyecto.id }}"
                    tabindex="-1"
                    >
                    <div class="modal-dialog modal-xl modal-dialog-centered">
                        <div class="modal-content bg-dark border-0">
                            <div class="modal-body p-0 position-relative">
                            <button
                                type="button"
                                class="btn-close btn-close-white position-absolute top-0 end-0 m-3"
                                data-bs-dismiss="modal"
                            ></button>

                            <img
                                src="{{ proyecto.imagen.url }}"
                                class="w-100 rounded"
                            >
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="card-body">
                    <h5 class="fw-bold">
                        {{ proyecto.titulo }}
                    </h5>
                    <p class="text-muted">
                        {{ proyecto.descripcion }}
                    </p>
                </div>
            </div>
        </div>

        {% empty %}
        <div class="text-center">

            <h4>
                Próximamente agregaremos trabajos.
            </h4>
        </div>
        {% endfor %}
    </div>
</div>

<!-- CONTACTO -->
<div class="container pb-5 text-center">
    <h3 class="fw-bold mb-3">
        ¿Necesitas un trabajo similar?
    </h3>
    <p class="text-muted mb-4">
        Contáctanos para cotizar en toda la Quinta Región.
    </p>
    <a
        href="https://wa.me/56961092914"
        target="_blank"
        class="btn btn-success btn-lg"
    >
        Contactar por WhatsApp
    </a>
</div>

{% endblock %}